<h3>Future Value of Money</h3>
<div class="columns">
  <div class="column">
    <div class="field">
      <label class="label">Present Value</label>
      <div class="control">
        <input (keyup)="calulateFutureValue()" [(ngModel)]="FutureValue.present" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Years</label>
      <div class="control">
        <input (keyup)="calulateFutureValue()" [(ngModel)]="FutureValue.years" class="input" type="text">
      </div>
    </div>
    <div class="field">
      <label class="label">Compound Type</label>
      <div class="select">
        <select (change)="calulateFutureValue()" [(ngModel)]="FutureValue.compound">
          <option value="0">Please Select Compound Type</option>
          <option value="1">Anually</option>
          <option value="2">Semianually</option>
          <option value="3">Quarterly</option>
          <option value="12">Monthly</option>
        </select>
      </div>
    </div>
  </div>
  <div class="column">
    <h1>Cold Hard Cash</h1>
    <h3>{{ FutureValue.futureValue }}</h3>
  </div>
  <div class="column">
    <p>
      Future value of money, measures the nominal future sum of money that a given
      sum of money is "worth" at a specified time in the future. This does not take
      inflation into account.
    </p>
  </div>
</div>
